* {
    font-family: helvetica, san-serif;
    background-color: #EFEFF7;
}
header {
    display: flex;
    width: 100vw;
    position: fixed;
    color: #31353E;
    background-color:#31353E;
    margin-left: -8px;
    margin-top: -8px;
}

header h1 {
    font-size: 180%;
    background-color:#92CCCD;
    margin-left: 10px;
    padding-left: 10px;
}


nav {
    display: flex;
    width: 90%;
    justify-content: right;
    align-items: center;
    background-color: #31353E;
}

nav a {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    font-size: 20px;
    padding: 10px;
    color: #92CCCD;
    background-color: #31353E;
}

section {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    margin-right: auto;
    justify-content: right;
    color: #445878;
}

.row {
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: right;
    border-left: 3px;
    border-left-style: solid;
    border-color: #445878;
    padding-left: 20px;
    margin-left: 10px;
}
.background {
    background-image: url("./Banner.jpg");
    min-height: 30vh;
    width: 100vw;
    margin-bottom: 25px;
    background-size: cover;
}

div a {
    display: flex;
    flex-direction: row;
    justify-content: 
}

#horiseon {
    justify-content: right;
    background-image: url("./horiseon.jpg");
    background-size: cover;
    width: 800px;
    height: 200px;
}

