* {
    font-family: helvetica, san-serif;
}
header {
    display: flex;
    width: 100vw;
    position: fixed;
    color: aliceblue;
    background-color: rgb(26, 60, 60);
    margin-left: -8px;
    margin-top: -8px;
}

header h1 {
    background-color: blue;
    margin-left: 10px;
    padding-left: 10px;
}


nav {
    display: flex;
    width: 90%;
    justify-content: right;
    align-items: center;
}

nav a {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
}

section {
    width: auto;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    margin-right: auto
}

.row {
    flex-wrap: wrap;
    width: auto
    height: auto;
    justify-content: right;
    border-left: 1px;
    border-left-style: solid;
    padding-left: 20px;
}
.background {
    background-image: url("/assignments/portfolio-2/assets/Banner.jpg");
    min-height: 30vh;
    width: 100vw;
    margin-bottom: 25px;
    background-size: cover;
    background-position: left;
}

div a {
    display: flex;
    justify-content: flex-end;
}

#horiseon {
    background-image: url("/assignments/portfolio-2/horiseon.jpg")
}